<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <% include global/header.ejs %>
  <p>
  <form action="/" method="get">
    <button type="submit" id = "log_out_button">Log out</button>
  </form>
  <div>
    <% if(user.weapon=="blank"||user.villain_choice=="blank"){ %>
      <h2> Please choose a weapon and villain! </h2>
      <a href="/login?player_name=<%=user.name%>&player_password=<%=user.password%>"> Go back </a>
    <% } else {  %>
    <h2> Game Results </h2>

    <% if (user.weapon=="paper") { %>
      <img src="../images/paper.svg" style="width:180px;height:180px;"/>
    <% } else if (user.weapon=="rock") { %>
      <img src="../images/rock.svg" style="width:180px;height:180px;"/>
    <% } else if (user.weapon=="scissors") { %>
      <img src="../images/scissors.svg" style="width:180px;height:180px;"/>
    <% } %>

    <% if (user.villain_choice=="Boss"){ %>
      <img src="../images/the_boss_rock.svg" style="width:180px;height:180px;"/>
    <% } else if (user.villain_choice=="Spock"){ %>
      <img src="../images/spock_scissors.svg" style="width:180px;height:180px;"/>
    <% } else if (user.villain_choice=="Regal"){ %>
      <img src="../images/regal_paper.svg" style="width:180px;height:180px;"/>
    <% } else if (user.villain_choice=="Mickey"){ %>
      <% if(villain_throw=="paper"){ %>
        <img src="../images/mickey_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="rock"){ %>
        <img src="../images/mickey_rock.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="scissors"){ %>
        <img src="../images/mickey_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Magician"){ %>
      <% if(user.weapon=="paper"){ %>
        <img src="../images/the_magician_scissors.svg" style="width:180px;height:180px;"/>
      <% } else if(user.weapon=="rock"){ %>
        <img src="../images/the_magician_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(user.weapon=="scissors"){ %>
        <img src="../images/the_magician_rock.svg" style="width:180px;height:180px;"/>
      <% }} else if (user.villain_choice=="Bones"){ %>
        <% if(user.weapon=="scissors"){ %>
          <img src="../images/bones_paper.svg" style="width:180px;height:180px;"/>
        <% } else if(user.weapon=="paper"){ %>
          <img src="../images/bones_rock.svg" style="width:180px;height:180px;"/>
        <% } else if(user.weapon=="rock"){ %>
          <img src="../images/bones_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Pixie"){ %>
      <% if(villain_throw=="paper"){ %>
        <img src="../images/pixie_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="rock"){ %>
        <img src="../images/pixie_rock.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="scissors"){ %>
        <img src="../images/pixie_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Harry"){ %>
      <% if(villain_throw=="paper"){ %>
        <img src="../images/harry_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="rock"){ %>
        <img src="../images/harry_rock.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Mr Modern"){ %>
      <% if(villain_throw=="rock"){ %>
         <img src="../images/mr_modern_rock.svg" style="width:180px;height:180px;"/>
       <% } else if(villain_throw=="scissors"){ %>
         <img src="../images/mr_modern_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Manny"){ %>
       <% if(villain_throw=="paper"){ %>
         <img src="../images/manny_paper.svg" style="width:180px;height:180px;"/>
       <% } else if(villain_throw=="scissors"){ %>
         <img src="../images/manny_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Comic Hans"){ %>
      <% if(villain_throw=="paper"){ %>
        <img src="../images/comic_hans_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="rock"){ %>
        <img src="../images/comic_hans_rock.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="scissors"){ %>
        <img src="../images/comic_hans_scissors.svg" style="width:180px;height:180px;"/>
    <% }} else if (user.villain_choice=="Gato"){ %>
      <% if(villain_throw=="paper"){ %>
        <img src="../images/gato_paper.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="rock"){ %>
        <img src="../images/gato_rock.svg" style="width:180px;height:180px;"/>
      <% } else if(villain_throw=="scissors"){ %>
        <img src="../images/gato_scissors.svg" style="width:180px;height:180px;"/>
      <% }} %>

    <h3><%=user.name%> threw <%=user.weapon%>. <%=user.villain_choice%> threw <%=villain_throw%>.</h2>
    <% if (type=="tie") {%>
      <h3>It's a tie!</h3>
    <%} else if (type=="win") {%>
      <h3><%=user.name%> wins!</h3>
    <%} else if (type=="loss") {%>
      <h3><%=user.villain_choice%> wins!</h3>
    <%}%>
    <a href="/login?player_name=<%=user.name%>&player_password=<%=user.password%>"> Play again </a>
  <%}%>
  </div>
  <br>
  <% include global/footer.ejs %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
