<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <% include global/header %>

  <% //win/loss ratio %>

  <div id="stats">
    <h2>User Statistics</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Percent Paper</th>
        <th class="top_row">Percent Rock</th>
        <th class="top_row">Percent Scissors</th>
      </tr>
      <%for(var i=0; i< user.length; i++){%>
      <tr>
        <td> <%= user[i]["name"]%> </td>
        <td> <%= user[i]["gamesPlayed"]%> </td>
        <td> <%= user[i]["wins"]%> </td>
        <td> <%= user[i]["losses"]%> </td>
        <td> <%= user[i]["gamesPlayed"]-user[i]["wins"]-user[i]["losses"]%> </td>
        <% if (user[i]["gamesPlayed"]!=0) { %>
          <td> <%= (parseInt(100*user[i]["paper"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
          <td> <%= (parseInt(100*user[i]["rock"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
          <td> <%= (parseInt(100*user[i]["scissors"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
        <%}  else{ %>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          <% }} %>
    </tr>
    </table>

    <h2>Villain Statistics</h2>
    <table>
      <tr>
        <th class="top_row">Villain Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Percent Paper</th>
        <th class="top_row">Percent Rock</th>
        <th class="top_row">Percent Scissors</th>
        <th class="top_row">Strategy Used</th>
      </tr>
      <%for(var i=0; i< villain.length; i++){%>
      <tr>
        <td> <%= villain[i]["name"]%> </td>
        <td> <%= villain[i]["gamesPlayed"]%> </td>
        <td> <%= villain[i]["wins"]%> </td>
        <td> <%= villain[i]["losses"]%> </td>
        <td> <%= villain[i]["gamesPlayed"]-villain[i]["wins"]-villain[i]["losses"]%> </td>
        <% if (villain[i]["gamesPlayed"]!=0) { %>
          <td> <%= (parseInt(100*villain[i]["paper"]/villain[i]["gamesPlayed"])).toString()+"%" %> </td>
          <td> <%= (parseInt(100*villain[i]["rock"]/villain[i]["gamesPlayed"])).toString()+"%" %> </td>
          <td> <%= (parseInt(100*villain[i]["scissors"]/villain[i]["gamesPlayed"])).toString()+"%" %> </td>
        <%} else{ %>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        <% } %>
        <td> <%= villain[i]["strategy"]%> </td>
      <% } %>
      </tr>
    </table>
  </div>

  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
 </body>
</html>
