<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <% include global/header %>

  <div id="stats">
    <h2>Game Statistics</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Percent Paper</th>
        <th class="top_row">Percent Rock</th>
        <th class="top_row">Percent Scissors</th>
      </tr>
      <%for(var i=0; i< user.length; i++){%>
      <tr>
        <td> <%= user[i]["name"]%> </td>
        <td> <%= user[i]["gamesPlayed"]%> </td>
        <td> <%= user[i]["wins"]%> </td>
        <td> <%= user[i]["losses"]%> </td>
        <td> <%= user[i]["gamesPlayed"]-user[i]["wins"]-user[i]["losses"]%> </td>
        <td> <%= (parseInt(100*user[i]["paper"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
        <td> <%= (parseInt(100*user[i]["rock"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
        <td> <%= (parseInt(100*user[i]["scissors"]/user[i]["gamesPlayed"])).toString()+"%" %> </td>
      </tr>
      <%}%>
    </table>
  </div>

  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
 </body>
</html>
